<h1>Manage Your Classrooms</h1>

<h2><%= link_to 'Create Classroom', new_classroom_path%></h2>

<% @classrooms.each do |classroom| %>
  <h3>Name: <%=classroom.name%></h3>
  <p>Description: <%=classroom.description%></p>
<% end %>
