<section class="row"  id="signup">
  <div class="small-12 large-4 small-centered large-centered column">
  <h3 class="aligncenter title">Create a Classroom</h3>
      <fieldset>
      <%= simple_form_for(@classroom) do |f| %>
          <div class="clearfix">
          <div class="input">
            <%= f.input :name %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.input :description %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.button :submit %>
          </div>
          </div>
        <% end %>
      </fieldset>
  </div>
</section>
