<div class="nested-fields">
  <%= f.input :option_value, label: 'Choice' %>
  <%= f.input :weight, collection: [0, 1], label: 'Choose 1 if correct' %>
  <%= link_to_remove_association '- Choice', f %>
  <div class="links">
  </div>
</div>
