<section id="banner">
  <div class="row">
  <div class="small-12 columns">
    <ul data-orbit data-options="timer_speed:0; navigation_arrows: false;bullets:false;  pause_on_hover: false; resume_on_mouseout: true;">
      <li>
        <div class="row slider-box">
        <div class="slider-details small-12 large-7 columns">
          <h2 class="custom-animated fadeInUpBig">Welcome To Classroom Flipper!</h2>
          <h3 class="custom-animated fadeInUpBig">Make Class Time More Purposeful.</h3>
        </div>
        <div class="slider-image small-12 large-5 columns custom-animated fadeInRightBig">
          <%= image_tag 'http://placehold.it/500x400' %>
        </div>
        </div>
      </li>
     </ul>
  </div>
  </div>
</section>

<div class="row" id="features" >
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-play icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Curates Video Online</h4>
      <p>Find or upload a video from Youtube or Vimeo.</p>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-chevron-right  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Creates Questions For Video</h4>
      <p>Create questions that check for understanding.</p>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-chevron-right  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Students Watch Video And Answers Questions</h4>
      <p>Assign as homework before you teach the lesson.</p>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-repeat icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Analyzes Student Results</h4>
      <p>Use the data to better inform instruction before entering class.</p>
    </div>
  </div>
</div>
