<section id="banner">
  <div class="row">
  <div class="small-12 columns">
    <ul data-orbit data-options="timer_speed:0; navigation_arrows: false;bullets:false;  pause_on_hover: false; resume_on_mouseout: true;">
      <li>
        <div class="row slider-box">
        <div class="slider-details small-12 large-7 columns">
          <h2 class="custom-animated fadeInUpBig">Welcome To Classroom Flipper!</h2>
          <h3 class="custom-animated fadeInUpBig">Make Class Time More Purposeful.</h3>
          </p>
        </div>
        <div class="slider-image small-12 large-5 columns custom-animated fadeInRightBig">
          <%= image_tag 'high_school_computer_lab.jpg' %>
        </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
</section>

<div class="row" id="features" >
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-desktop  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Curates Video Online</h4>
      <p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
      <a href="#">Read more</a>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-mobile-phone  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Creates Questions For Video</h4>
      <p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
      <a href="#">Read more</a>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-html5  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Students Watch Video And Answers Questions</h4>
      <p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
      <a href="#">Read more</a>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="icon-briefcase  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Analyzes Student Results</h4>
      <p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
      <a href="#">Read more</a>
    </div>
  </div>
</div>
