<section id="banner">
</section>
<div class="welcome small-12 large-12 aligncenter">
<h1>Welcome to Classroom Flipper. Make Classtime More Purposeful.</h1>
</div>
<div class="row" id="features" >
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="fa fa-youtube icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Curates Video Online</h4>
      <p>Find or upload a video from Youtube or Vimeo.</p>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="fa fa-question icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Creates Questions For Video</h4>
      <p>Create questions that check for understanding.</p>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="fa fa-laptop  icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Students Watch Video And Answer Questions</h4>
      <p>Assign as homework before you teach the lesson.</p>
    </div>
  </div>
  <div class="small-12 large-3 columns aligncenter features-box">
    <div class="features-img aligncenter">
      <i class="fa fa-bar-chart-o icon-circled icon-64"></i>
    </div>
    <div class="features-details">
      <h4>Teacher Analyzes Student Results</h4>
      <p>Use the data to better inform instruction before entering class.</p>
    </div>
  </div>
</div>
