<section class="row"  id="signup">
  <div class="small-12 large-4 small-centered large-centered column">
    <h3 class="aligncenter title">Sign In</h3>
      <fieldset>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <div class="clearfix input">
            <%= f.input :email %>
          </div>

          <div class="clearfix input">
            <%= f.input :password %>
          </div>

          <div class="clearfix input aligncenter">
            <%= f.button :submit, "Sign In" %>
          </div>

        <% end %>
      </fieldset>
  </div>
</section>
