<div id="sticky-footer">
  <div class="row widgets-block">
    <div class="small-12 large-3 column widget">
    <h4>More Information</h4>
      <ul class="link-list">
        <div id="demo" class="reveal-modal" data-reveal>
          <h2 class="aligncenter">Walkthrough of Classroom Flipper.</h2>
          <div class="aligncenter"><iframe width="630" height="473" src="//www.youtube.com/embed/HuzB7WpOtPY" allowfullscreen></iframe></div>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <li><a href="#" data-reveal-id="demo">See Demo</a></li>
        <div id="about" class="reveal-modal" data-reveal>
          <h2 class="aligncenter">Built by Landon Marder.</h2>
          <p>Before becoming a software developer, Landon was a middle school math teacher with Teach for America. He used
          technologies similar to Classroom Flipper to have his students grow more than 2.75 grade levels in math in only two years.
          Ensuring that they were on the path to take first year Calculus before college.</p>
          <p>For inquiries about how to best use Classroom Flipper or, to learn more about projects built by Landon, please feel free to contact:</p>
          <p>Email: <a href="mailto:landon.marder@gmail.com">landon.marder@gmail.com</a></p>
          <p>Twitter: <a href="https://twitter.com/landonmarder">@landonmarder</a></p>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <li><a href="#" data-reveal-id="about">About</a></li>
      </ul>
    </div>
  </div>
  <div id="social-links" class="aligncenter">
    <a href="" class="up-arrow"><i class="fa fa-angle-up"></i></a>
    <div class="copyrights">
    <div class="aligncenter">
      &copy;2014 <a href="http://www.twitter.com/landonmarder" target="_blank">Landon Marder</a> All Rights Reserved.
    </div>
    </div>
  </div>
</div>
