<div id="sticky-footer">
  <div class="row widgets-block">
    <div class="small-12 large-4 column widget">
    <h4>Browse Pages</h4>
      <ul class="link-list">
        <li><a href="#">See Demo</a></li>
        <li><a href="#">About</a></li>

        <li><a href="#">Get in touch with us</a></li>
      </ul>
    </div>
    <div class="small-12 large-4 column widget">
      <h4>One More</h4>
      <p>Something Else</p>
    </div>
    <div class="small-12 large-4 column widget">
      <h4>Made At</h4>
      <p>Launch Academy Logo</p>
    </div>
  </div>
  <div id="social-links" class="aligncenter">
    <a href="" class="up-arrow"><i class="fa fa-angle-up"></i></a>
    <div class="copyrights">
    <div class="aligncenter">
      &copy;2014 <a href="http://www.twitter.com/landonmarder" target="_blank">Landon Marder</a> All Rights Reserved.
    </div>
    </div>
  </div>
</div>
