<div id="sticky-footer">
  <div class="row widgets-block">
    <div class="small-12 large-3 column widget">
    <h4>Browse Pages</h4>
      <ul class="link-list">
      <div id="demo" class="reveal-modal" data-reveal>
        <h2>Walkthrough of Classroom Flipper.</h2>
        <div class="aligncenter"><iframe width="630" height="473" src="//www.youtube.com/embed/HuzB7WpOtPY" allowfullscreen></iframe></div>
        <a class="close-reveal-modal">&#215;</a>
      </div>
        <li><a href="#" data-reveal-id="demo">See Demo</a></li>
        <li><a href="#">About</a></li>

        <li><a href="#">Get in touch with us</a></li>
      </ul>
    </div>
  </div>
  <div id="social-links" class="aligncenter">
    <a href="" class="up-arrow"><i class="fa fa-angle-up"></i></a>
    <div class="copyrights">
    <div class="aligncenter">
      &copy;2014 <a href="http://www.twitter.com/landonmarder" target="_blank">Landon Marder</a> All Rights Reserved.
    </div>
    </div>
  </div>
</div>
